<section id="profile">
    <div class="container">
        <div class="box-large">
            <h1>My Profile</h1>
            <div class="content">
                <div class="info">
                    <div class="col centered">
                        <span class="avatar">&#9787;</span>
                        <button>Change</button>
                    </div>
                    <div class="col">
                        <form class="profile-editor" action="#/profile" method="put">
                            <label>First name:</label><input name="firstName" type="text" value="{{firstName}}"><br>
                            <label>Last name:</label><input name="lastName" type="text" value="{{lastName}}"><br>
                            <label>Phone:</label><input name="phone" type="text" value="{{phone}}"><br>
                            <label>E-mail:</label><input name="email" type="text" value="{{email}}"><br>
                            <input type="submit" value="Save changes">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>