<section id="register">
    <div class="container centered">
        <div class="box">
            <h1>Register</h1>
            <div class="content">
                <form id="register-form" action="#/register" method="post">
                    <label for="newUsername">Username</label>
                    <input name="username" id="newUsername" type="text">
                    <label for="newPassword">Password</label>
                    <input name="password" id="newPassword" type="password">
                    <label for="newPassRep">Repeat Password</label>
                    <input name="repeatPassword" id="newPassRep" type="password">
                    <label for="firstName">First Name</label>
                    <input name="firstName" id="firstName">
                    <label for="lastName">Last Name</label>
                    <input name="lastName" id="lastName">
                    <label for="phone">Phone</label>
                    <input name="phone" id="phone">
                    <label for="email">email</label>
                    <input name="email" id="email">
                    <input type="submit" value="Register">
                </form>
            </div>
        </div>
    </div>
</section>